.nav-bar{
    display: flex;
    justify-content: space-between;
    background: #150F0D;
    color: #D38F22;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
}

.nav-links{
    display:flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-left: 1rem;
    padding-top: 1rem;
  
    
}

.nav-section{
    background: #EDFACD;
    width: 250px;
    height: 1061px;
    
}

.second-nav{
    display: flex;
    flex-direction: column;
    padding-top: 11rem;
    gap: .8rem;
    padding-left: 1rem;

}

.logout-link{
    padding-top: 11rem;
    padding-left: 1rem;
}

.nav-page{
    display: flex;
    gap: 10rem;
  
}
.input-section{
    margin-top: 2rem;
    
}
input{
    padding: 1rem 2rem;
    width: 500px;
}
.first{
    display: flex;
    gap: 3rem;
    padding-left: 4rem;
   
}

.shape{
    border: 1px solid black;
    border-radius: 6px;
    padding: .4rem 1rem;
}

.filt{
    padding-top: 2rem;
}

.fix{
    display: flex;
}

.card{
    border: 1px solid black;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
   
}

.card-title{
    display: flex;
    justify-content: flex-end;
    background: #C8F06A;
    width: 80px;
    color: #8D5F17;
    margin-left: 16rem;
    border-radius: 5px;
 align-items: center;

 padding-right: 1rem;
 height: 32px;
}

.cards{
    display: flex;
    gap: 3rem;

}
.icons-section{
    display: flex;
  gap: 2rem;
  
}

.icon-name{
    font-size: 12px;
}

a{
    text-decoration: none;
    color: #D38F22;
}
.home{
   background: #46300B;
   width: 122px;
   height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}