@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  width: 100%;
  overflow-x: hidden;
}
@font-face {
  font-family: hittamig;
  src: url("hittamig.regular.otf");
}
@font-face {
  font-family: montra;
  src: url("montra.regular.ttf");
}
.main-header {
  display: flex;
  justify-content: space-around;
  background: #080A0C;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  height: 703px;
  width: 100%;
  position: absolute;
  border-radius: 0px;
  scroll-margin: 0;
  z-index: -99;
}
.bg-img {
  width: 870px;
  margin-left: 20%;
  position: absolute;
  right: 27px;
  top: 120px;
  z-index: -2;
}
.bg-img img {
	width: 600px;
	margin-left: 200px;
}
.logo h1 {
  font-size: 10px;
  font-family: montra;
  margin-top: 30px;
  text-decoration: none;	
	background: linear-gradient(91.26deg, #8AD4EC 0%, #EF96FF 21.74%, #FF56A9 54.03%, #FFAA6C 85.28%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
a {
  text-decoration: none;
}
.nav-bar {
  display: flex;
  list-style: none;
  text-decoration: none;
  margin-top: 30px;
  cursor: pointer;
}
.nav-link {
  padding: 0 8px;
  text-decoration: none;
  color: #ada3a3;
}

.account ul {
  display: flex;
  list-style: none;
  margin-top: 20px;
}
.active {
  color: #f2f2f2;
}
#su {
  color: #150f0d;
  border: 0px solid inherit;
  background: linear-gradient(91.26deg, #8AD4EC 0%, #EF96FF 21.74%, #FF56A9 54.03%, #FFAA6C 85.28%);
  margin-left: 5px;
  font-weight: 400;
  width: 80px;
  height: 24px;
  font-size: 14px;
  line-height: 24px;
  border-radius: 4px;
  padding: 2px 4px;
}
.stroke {
  color: #c8f06a;
  margin-right: 7px;
}
.caption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 64px;
  position: absolute;
  width: 50vw;
	margin-left: 200px;
  height: 274px;
  left: 0;
  top: 260px;
}
.caption p {
  font-size: 2.7rem;
  color: #f2f2f2;
	font-style: san serif;
}
span {
	background: linear-gradient(91.26deg, #8AD4EC 0%, #EF96FF 21.74%, #FF56A9 54.03%, #FFAA6C 85.28%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
.search-bar {
  display: flex;
  background: #f2f2f2;
  border-radius: 5px;
  width: 200px;
  padding: 8px 0px;
}
.search-bar p {
  font-size: 14px;
  color: black;
  margin-left: 10px;
}
#i-search {
  padding-left: 5px;
}
#i-arrow {
  margin-left: 57px;
}
#home {
  position: absolute;
  top: 780px;
  margin-left: 10px;
}
.explore-section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  color: #0a0c1b;
  margin-bottom: 50px;
}
 .first-section p {
	color: #0a0c1b;
  font-size: 32px;
  margin-bottom: 30px;
  text-align: center;
}
.second-section {
  display: flex;
  margin-left: 120px;
}
.exp-img img {
  width: 300px;
  border-radius: 10px;
  margin: 0 30px;
}
.explore-section2 {
  background: #080A0C;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  position: absolute;
  margin: 0 0 50px -10px;
  width: 100vw;
  height: 330px;
  left: 0px;
  top: 500px;
}
.explore-section2 img {
  height: 270px;
  margin: 30px;
}
.sectionTwo-txt {
  width: 370px;
  margin: 40px 0 0 50px;
}
.sectionTwo-txt h5 {
	color: #f2f2f2;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.sectionTwo-txt p {
  margin-bottom: 20px;
  color: #f2f2f2;
  font-size: 14px;
}
.su-btn {
  background: linear-gradient(91.26deg, #8AD4EC 0%, #EF96FF 21.74%, #FF56A9 54.03%, #FFAA6C 85.28%);
  border: 0px solid #bae15f;
  border-radius: 5px;
  padding: 7px 30px;
  color: #67793c;
  cursor: pointer;
}
.download-btn {
  background: #1c1b1b;
  border: 0px solid #261a1a;
  border-radius: 7px;
  margin-left: 30px;
  padding: 10px;
  color: #d2d0c1;
  font-weight: 400;
  cursor: pointer;
}

.explore-section3 {
  position: absolute;
  width: 80vw;
  height: 20vh;
  left: 78px;
  top: 850px;
}
.sectionThree-header {
  text-align: center;
  margin: 20px 0;
  font-size: 14px;
  font-weight: 500;
}
.testimonial {
  width: 300px;
  height: 150px;
  margin: 50px;
	line-height: 1.3rem;
  border-right: 1px solid rgb(246, 241, 241);
	border-bottom: 1px solid rgb(246, 241, 241);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 3px 3px 3px #ccc;
 
}
.testimonial p {
  text-shadow: none;
  margin-top: 10px;
  font-size: 20px;
}
.name {
  font-size: 16px;
  font-weight: 600;
  text-align: right;
  margin-top: 10px;
  margin-right: 5px;
}
#all-testimonials {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer {
  position: absolute;
  width: 100vw;
  height: 320px;
  margin-top: 50px;
  left: 0px;
  top: 1900px;
  background: #150f0d;
}
.cta {
	background: linear-gradient(91.26deg, #8AD4EC 0%, #EF96FF 21.74%, #FF56A9 54.03%, #FFAA6C 85.28%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	-webkit-text-fill-color: transparent;
		
  text-align: center;
  margin-top: 30px;
  font-weight: 300;
}
.cta-form {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin-top: 30px;
}
.form-one {
  width: 350px;
  padding: 9px 5px;
  border: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.join-btn {
  margin-left: -8px;
  padding: 9px 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  background: linear-gradient(91.26deg, #8AD4EC 0%, #EF96FF 21.74%, #FF56A9 54.03%, #FFAA6C 85.28%)

}
.footer-nav {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 50px;
}
.footer-nav .nav-link {
  color: #f2f2f2;
  padding: 10px 30px;
}

/* -----Mobile Responsiveness---- */

@media only screen and (max-width: 768px) {
 
  .main-header {
    background: #46300b;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 25px 8px;
    width: 850px;
    height: 50px;
    top: -1.5px;
  }
  nav {
    display: none;
  }

  .account ul {
    margin-right: 120px;
    margin-bottom: 10px;
    font-weight: 600;
  }
  #login {
    color: #daa247;
    border: 2px solid #daa247;
    border-radius: 5px;
    padding: 7px 8px;
    margin-right: 25px;
  }
  .stroke {
    display: none;
  }
  #su {
    padding: 8px 8px;
  }

  .bg-img {
    background: #46300b;
    position: absolute;
    width: 100%;
    height: 648px;
    margin-left: -29px;
    left: 30px;
    top: 110px;
  }
  .bg-img img {
    width: 400px;
    margin-top: 280px;
    margin-left: 170px;
  }

  .caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
    padding: 0px;
    gap: 64px;
    position: absolute;
    width: 100%;
    height: 100px;
    top: 140px;
  }
  .caption p {
    margin-left:50px;
    font-size: 50px;
    width: 100%;
    text-align: center;
  }
  .search-bar {
    width: 420px;
    margin-top: -20px;
    margin-left: 30px;
    padding: 8px 0;
    background: none;
    border: 3px solid #7da421;
    border-radius: 12px;
  }
  .search-bar p {
    color: #7da421;
    font-size: 20px;
    /* margin-left: 180px; */
  }
  #i-search {
    font-size: 35px;
    padding-left: 5px;
    color: #7da421;
  }
  #i-arrow {
    display: none;
  }
  #home {
    top: 900px;
    margin-left: 10px;
  }
  .explore-section {
    width: 850px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }
  .first-section {
    margin-left: -120px;
    margin-top: -20%;
  }

  .first-section p {
    /* margin-left: 100px; */
    text-align: center;
    color: #daa247;
  }
  
  .second-section {
    width:80%;
    margin-left: 0;
    display: block;
    text-align: center;
    height: 300vh;
    border:1px solid #000;
  }
  .exp-img img{
    width: 80%;
    height: 60vh;
  }
   .explore-section2 {
    position: absolute;
    top:50%;
    left:0%;
  } 
  .su-btn,.download-btn{
    display:none;
  }

  /* .sectionTwo-txt {
    position: absolute;
    top: -200px;
    margin-bottom: 40px;
  } */

}
